@font-face {
    font-family: "SegoeBold";
    src: url('../fonts/SegoeTVBold.TTF');
}

.footer{
    font-family: "SegoeBold";
    background-color: #1d71b7;
    /*clip-path: polygon(
    5% 0%, 95% 0%, 
    100% 5%, 100% 100%, 
    100% 100%, 0% 100%, 
    0% 100%, 0% 5%
    );*/

}

.redes{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}

@media screen and (max-width: 768px) {  
    .redes{
        height: auto;
        display: block;
    }

    .botonylogo{
        order: -1;
        margin-top: 3vh;
    }
    
}
